.form-create-task .cell-description {
    height: 100%;
    margin-bottom:20px;
}

.form-create-task .cell-description .ql-toolbar.ql-snow {
    border-radius: 20px 20px 0 0 !important;
    border: 2px solid var(--color-light-gray) !important;
}

.form-create-task .cell-description #QuillEditor {
    min-height: 100px;
    max-height: 200px;
    overflow-y: scroll;

    border-radius: 0 0 20px 20px !important;
    border: 2px solid var(--color-light-gray) !important;
    box-shadow: none !important;
    font-size: var(--font-sm) !important;
}

.profile-activity.box-section .fetched-tasks-by-user .task-fetched-single {
    background-color: var(--color-light-gray);
    margin-bottom: 15px;
    border-radius: var(--border-radius);
    padding: 15px 20px;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    transition: all 0.35s var(--cubic-bezier);
}
.profile-activity.box-section .fetched-tasks-by-user .task-fetched-single:hover {
    background-color: var(--color-gray);
    transition: all 0.35s var(--cubic-bezier);
}

.profile-activity.box-section .fetched-tasks-by-user .task-fetched-single p {
    margin-bottom: 0px !important;
}

.profile-activity.box-section .task-date {
    margin-top: 10px;
    display: flex;
    /* align-items: center; */
}

.profile-activity.box-section .task-date i {
    margin-right: 10px;
    transform: scale(0.6);
}