.form-create-task .cell-description {
    height: 100%;
    margin-bottom:20px;
}

.form-create-task .cell-description .ql-toolbar.ql-snow {
    border-radius: 20px 20px 0 0 !important;
    border: 2px solid var(--color-light-gray) !important;
}

.form-create-task .cell-description #QuillEditor {
    min-height: 100px;
    max-height: 200px;
    overflow-y: scroll;

    border-radius: 0 0 20px 20px !important;
    border: 2px solid var(--color-light-gray) !important;
    box-shadow: none !important;
    font-size: var(--font-sm) !important;
}