array(26) {
    ["task_id"]=>
    string(2) "66"
    ["task_name"]=>
    string(6) "Test 1"
    ["task_low"]=>
    string(1) "2"
    ["task_high"]=>
    string(1) "5"
    ["task_workflow_status"]=>
    string(1) "4"
    ["task_description"]=>
    string(41) "
  hawdawdawda wd aw
  
  "
    ["sprint_id"]=>
    string(1) "4"
    ["customer_id"]=>
    string(1) "6"
    ["label_id"]=>
    string(1) "2"
    ["task_type_id"]=>
    string(1) "0"
    ["task_vertical_id"]=>
    string(1) "1"
    ["is_external"]=>
    string(1) "0"
    ["created_at"]=>
    string(19) "2023-01-15 14:34:49"
    ["created_by"]=>
    string(2) "31"
    ["sprint_name"]=>
    string(10) "April 2023"
    ["sprint_month"]=>
    string(1) "4"
    ["sprint_year"]=>
    string(4) "2023"
    ["customer_name"]=>
    string(12) "hawdawd awda"
    ["customer_cvr"]=>
    string(6) "124151"
    ["customer_color"]=>
    string(7) "#e3e3e3"
    ["customer_hourly_rate"]=>
    string(4) "1000"
    ["customer_enabled"]=>
    string(1) "1"
    ["task_vertical_name"]=>
    string(3) "SEO"
    ["label_name"]=>
    string(8) "Pre-Sale"
    ["label_color"]=>
    string(7) "#50dbc8"
    ["persons_ids"]=>
    string(5) "31,32"
  }