.sidebar-section  {
    background-color: var(--color-yellow);
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    padding: 0px 20px;
}

.sidebar-section .sidebar-section-top {
    text-align: center;
    margin: 0 auto;
}

@media screen and (min-width: 1024px) {
    .sidebar-section .sidebar-section-top {
        transform: translateY(-80px);
    }
}

.sidebar-section .sidebar-section-top img {
    max-width: 100px;
    max-height: 100px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-top: 40px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 100%;
    outline: 8px solid white;
    border: 1px solid #000;
    transform: rotate(0deg);
    -webkit-animation: logoAnimation 1s ease-in 0.5s 1 normal forwards;
    -moz-animation: logoAnimation 1s ease-in 0.5s 1 normal forwards;
    -o-animation: logoAnimation 1s ease-in 0.5s 1 normal forwards;
    animation: logoAnimation 1s ease-in 0.5s 1 normal forwards;
}

@keyframes logoAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

.sidebar-section .sidebar-section-top * {
    word-wrap: break-word;
    /* font-weight: 700; */
}

.sidebar-section-menu {
    position: relative;
}

.sidebar-section .sidebar-section-menu ul {
    margin: 0 !important;
}

.sidebar-section .sidebar-section-menu li {
    padding: 15px 20px;
    margin-bottom: 15px;
    border-radius: var(--border-radius);
}
.sidebar-section .sidebar-section-menu li.menu-active {
    background-color: var(--color-yellow-light);
}
.sidebar-section .sidebar-section-menu li.menu-active a {
    font-weight: 700 !important;
}

.sidebar-section .sidebar-section-menu li a {
    display: flex;
    text-decoration: none !important;
    align-items: center;
    font-size: var(--font-xs) !important;
    letter-spacing: var(--font-2xs-leading) !important;
    font-weight: 400;
}
.sidebar-section .sidebar-section-menu li a i {
    margin-right: 20px;
    color: var(--color-purple) !important;
}

.sidebar-section .sidebar-section-bottom {
    margin-top: 100px !important;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center
}

.sidebar-section .darkmode-section {
    position: fixed;
    bottom: 20px;
}
.sidebar-section .darkmode-section label {
    box-shadow: var(--box-shadow);
}

.sidebar-section .checkbox {
    opacity: 0;
    position: absolute;
}

.sidebar-section .label {
    width: 100px;
    height: 26px;
    background-color:#111;
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
}

.sidebar-section .ball {
    width: 50px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 3px;
    left: 4px;
    border-radius: 50px;
    transition: transform 0.5s var(--cubic-bezier) !important;
}

.sidebar-section .checkbox:checked + .label .ball{
    transform: translateX(41px);
}
  
.sidebar-section .gg-moon {
    color: var(--color-white) !important;
    transform: rotate(-135deg) scale(0.5) !important;
}
  
.sidebar-section .gg-sun {
    color: var(--color-yellow) !important;
    transform: scale(0.5) !important;
}