.nav-section .nav-ul {
    padding: 0 !important;
    margin: 0 !important;
}

.nav-section .nav-profile-img {
    max-width: 50px;
    max-height: 50px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 100%;
}

.nav-section .profile-image {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-section .profile-image i {
    margin-left: 10px;
    color: var(--color-purple) !important;
}
.nav-section .profile-image.click-show i {
    color: var(--color-yellow) !important;
}

.nav-section .nav-main {
    display: flex;
    align-items: center;
    padding: 40px 30px;
    /* border-bottom: 1px solid var(--color-light-gray); */
}

.nav-section .nav-searchbar-outter {
    display: flex;
    width: 40%;
}
.nav-section .nav-ul {
    width: 60%;
}

.nav-section .nav-searchbar {
    position: relative;
}

.nav-section .nav-searchbar i {
    position: absolute;
    top: calc(50% + 3px);
    transform: translateY(-50%);
    left: 20px;
    color: var(--color-gray) !important;
}
.nav-section .nav-searchbar input {
    font-size: var(--font-sm) !important;
    background: var(--color-white);
    padding-left: 50px !important;
    max-width: 250px;
    min-width: 250px;
}
.nav-section .nav-searchbar-outter button {
    display: block !important;
    width: auto !important;
    margin-left: 20px;
}

.nav-section .nav-ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-section .nav-ul li {
    position: relative;
    padding-left: 50px;
}

.nav-section .nav-icon i,
.nav-section .nav-button i,
.nav-section .profile-links i {
    color: var(--color-purple) !important;
}

.nav-section .profile-links {
    position: absolute;
    width: auto;
    top: calc(50px + 20px);
    right: 0;
    text-align: end;
    border: 1px solid #eee;
    border-radius: var(--border-radius) !important;
    padding: 20px 30px;
    background: var(--color-white);
    z-index: 999;
    display: none;
}

.nav-section .profile-links a {
    display: flex;
    align-items: center;
    font-size: var(--font-sm) !important;
    letter-spacing: var(--font-md-leading) !important;
}

.nav-section .profile-links a:not(:last-child) {
    margin-bottom: 15px;
}

.nav-section .profile-links a i {
    margin-left: 20px;
}