@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,300;0,400;0,600;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
    --color-primary: #202020;
    --color-primary-light: #3F3F3F;
    --color-gray: #a3a3a3;
    --color-light-gray: #f8fafb;

    --color-yellow: #FFDF6C;
    --color-yellow-light: #fdefb9;
    --color-purple: #36008D;

    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-red: #c0392b;
    --color-red-light: #ffc0ba;
    --color-green: #2ecc71;
    --color-green-light: #c6ffde;

    --font-2xs: 0.525rem;
    --font-xs: 0.75rem;
    --font-sm: 0.875rem;
    --font-md: 1rem;
    --font-lg: 1.125rem;
    --font-xl: 1.25rem;
    --font-2xl: 1.5rem;
    --font-3xl: 1.75rem;
    --font-4xl: 2rem;
    --font-5xl: 2.25rem;
    --font-6xl: 2.5rem;
    --font-7xl: 3rem;
    --font-8xl: 3.5rem;
    --font-9xl: 4rem;
    --font-10xl: 4.5rem;
    --font-11xl: 5rem;
    --font-12xl: 6rem;

    --font-2xs-leading: 1.175;
    --font-xs-leading: 1.275;
    --font-sm-leading: 1.45;
    --font-md-leading: 1.75;
    --font-lg-leading: 1.625;
    --font-xl-leading: 1.625;
    --font-2xl-leading: 1.5;
    --font-3xl-leading: 1.375;
    --font-4xl-leading: 1.25;
    --font-5xl-leading: 1.25;
    --font-6xl-leading: 1.25;
    --font-7xl-leading: 1.25;
    --font-8xl-leading: 1.25;
    --font-9xl-leading: 1.125;
    --font-10xl-leading: 1.125;
    --font-11xl-leading: 1.125;
    --font-12xl-leading: 1.125;

    --font-var: 'IBM Plex Serif', serif;
    --font-var-sans: 'DM Sans', sans-serif;
    --border-radius: 10px;
    --cubic-bezier: cubic-bezier(.95,.34,.25,1.01);
    --box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    --section-mb: 60px;
    --flex-gap: 30px;
}

body.darkmode {
    --color-primary: #a3a3a3;
    --color-primary-light: #F1F1F1;
    --color-gray: #202020;
    --color-light-gray: #3F3F3F;

    --color-yellow: #ffc0ba;
    --color-yellow-light: #FFDF6C;
    --color-purple: #c6ffde;

    --color-white: #000000;
    --color-black: #FFFFFF;
    --color-red: #2ecc71;
    --color-red-light: #c0392b;
    --color-green: #36008D;
    --color-green-light: #fdefb9;
}

/* *** Typography */
html,
body {
    height: 100%;
    overflow-x: hidden;
    transition: all 0.5s var(--cubic-bezier);
}
body {
    /* background-color: var(--color-white) !important; */
    background-color: var(--color-light-gray) !important;
}
* {
    color: var(--color-primary) !important;
    font-family: var(--font-var-sans) !important;
    /* word-wrap: anywhere; */
}
h1 {
    font-size: var(--font-9xl) !important;
    line-height: var(--font-9xl-leading) !important;
    font-weight: 600 !important;
    margin-bottom: 1.25rem !important;
    font-family: var(--font-var) !important;
}
h2 {
    font-size: var(--font-6xl) !important;
    line-height: var(--font-6xl-leading) !important;
    font-weight: 600 !important;
    margin-bottom: 1.25rem !important;
    font-family: var(--font-var) !important;
}
h3 {
    font-size: var(--font-4xl) !important;
    line-height: var(--font-4xl-leading) !important;
    font-weight: 600 !important;
    margin-bottom: 1.25rem !important;
    font-family: var(--font-var) !important;
}
h4 {
    font-size: var(--font-3xl) !important;
    line-height: var(--font-3xl-leading) !important;
    font-weight: 600 !important;
    margin-bottom: 1.25rem !important;
    font-family: var(--font-var) !important;
}
h5 {
    font-size: var(--font-2xl) !important;
    line-height: var(--font-2xl-leading) !important;
    font-weight: 600 !important;
    margin-bottom: 1.25rem !important;
    font-family: var(--font-var) !important;
}
h6 {
    font-size: var(--font-lg) !important;
    line-height: var(--font-lg-leading) !important;
    font-weight: 600 !important;
    margin-bottom: 1.25rem !important;
    font-family: var(--font-var) !important;
}
p,
a {
    font-size: var(--font-md) !important;
    line-height: var(--font-sm-leading) !important;
    font-weight: 400 !important;
}

hr {
    border-bottom: 1px solid var(--color-light-gray) !important;
}

.bold-text {
    font-weight: bold !important;
}

.light-text {
    color: var(--color-gray) !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}
.mb-10 {
    margin-bottom: 10px !important;
}
.mb-20 {
    margin-bottom: 20px !important;
}
.mb-40 {
    margin-bottom: 40px !important;
}
.mt-10 {
    margin-top: 10px !important;
}
.mt-20 {
    margin-top: 20px !important;
}
.mt-40 {
    margin-top: 40px !important;
}
.mr-10 {
    margin-right: 10px !important;
}
.mr-20 {
    margin-right: 20px !important;
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: var(--font-6xl) !important;
        line-height: var(--font-6xl-leading) !important;
    }
    h2 {
        font-size: var(--font-4xl) !important;
        line-height: var(--font-4xl-leading) !important;
    }
    h3 {
        font-size: var(--font-3xl) !important;
        line-height: var(--font-3xl-leading) !important;
    }
    h4 {
        font-size: var(--font-2xl) !important;
        line-height: var(--font-2xl-leading) !important;
    }
    h5 {
        font-size: var(--font-xl) !important;
        line-height: var(--font-xl-leading) !important;
    }
    h6 {
        font-size: var(--font-lg) !important;
        line-height: var(--font-xl-leading) !important;
    }
    p,
    a {
        font-size: var(--font-sm) !important;
        line-height: var(--font-sm-leading) !important;
    }
}

p.small-p {
    font-size: var(--font-xs) !important;
}

.font-light {
    color: var(--color-gray) !important;
}

button,
button *,
a {
    font-family: var(--font-var) !important;
    font-weight: 500 !important;
}

input {
    font-family: var(--font-var-sans) !important;
    font-weight: 500 !important; 
}

.btn {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: var(--border-radius) !important;
    padding: 10px 20px;
    text-decoration: none !important;
    font-size: var(--font-xs) !important;
    line-height: var(--font-2xs-leading) !important;
    color: var(--color-black) !important;
    cursor: pointer;
}
.btn-inline {
    display: inline-block;
    align-items: center;
    border-radius: var(--border-radius) !important;
    padding: 10px 20px;
    text-decoration: none !important;
    font-size: var(--font-xs) !important;
    line-height: var(--font-2xs-leading) !important;
    color: var(--color-black) !important;
    cursor: pointer;
}
.btn i {
    margin-right: 15px;
}
.btn.btn-main,
.btn-inline.btn-main {
    background-color: var(--color-yellow) !important;
}
.btn.btn-white,
.btn-inline.btn-white {
    background-color: var(--color-white);
}
.btn.btn-gray,
.btn-inline.btn-gray {
    background-color: var(--color-gray);
    color: var(--color-white) !important;
}
.btn.btn-light-gray,
.btn-inline.btn.btn-light-gray {
    background-color: var(--color-light-gray);
}

.box-section {
    background: var(--color-white);
    padding: 20px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    margin-bottom: 40px;
}

.status-msg {
    display: none;
}

.link-redirect * {
    font-size: var(--font-md) !important;
}

.link-redirect a,
.link-redirect > a,
.link-redirect a,
a {
    color: var(--color-purple) !important;
    /* font-style: italic; */
    text-decoration: underline !important;
    cursor: pointer;
    font-weight: bold;
    font-family: var(--font-var) !important;
}

input,
textarea {
    border-radius: var(--border-radius) !important;
    margin-bottom: 20px !important;
    padding: 15px 20px !important;
    border: 2px solid var(--color-light-gray) !important;
    box-shadow: none !important;
    font-size: var(--font-sm) !important;
    min-height: 40px !important;
}
select {
    border-radius: var(--border-radius) !important;
    border: 2px solid var(--color-light-gray) !important;
    box-shadow: none !important;
    font-size: var(--font-sm) !important;
    padding-left: 20px !important;
    padding-top: 5px !important;
}
input:focus {
    border: 2px solid var(--color-purple) !important;
}
input[type="submit"] {
    background: var(--color-yellow);
    padding: 10px 20px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}
.fail-input {
    border: 2px solid var(--color-red) !important;
}
label {
    font-weight: 500 !important;
    margin-bottom: 10px !important;
}
.form-element {
    border: 1px solid #eee;
    border-radius: var(--border-radius) !important;
    padding: 40px 30px;
    margin-bottom: 40px;
}
.form-element input[type="submit"] {
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .form-element {
        padding: 20px 15px;
        margin-bottom: 30px;
    }
}

.container-outter,
.container-custom {
    height: 100%;
}

@media screen and (max-width: 1024px) {
    .cell-not-mobile {
        display: none;
    }
}

.page-wrapper,
.grid-container-fluid-custom,
.grid-x-main {
    height: 100%;
}

.page-wrapper .grid-x-vert-center {
    flex-direction: column;
    justify-content: center;
}

.page-wrapper .grid-x-gap {
    gap: 20px;
}

.page-wrapper .grid-x-space-between {
    justify-content: space-between;
}

.page-wrapper .cell-main {
    padding: 30px;
}

.page-wrapper .cell-main section {
    margin-bottom: var(--section-mb) !important;
}

.page-wrapper .cell-main .heading-section * {
    font-weight: bold;
    margin-bottom: 0 !important;
}

@media screen and (min-width: 1024px) {
    .page-wrapper .cell-main .cell-padding-right {
        padding-right: 30px;
    }
}

[data-aos] {
    transition-timing-function: cubic-bezier(.95,.34,.25,1.01) !important;
    transition-duration: 0.75s !important;
}

.status-error {
    color: var(--color-red) !important;
    background: var(--color-red-light) !important;
    border-radius: var(--border-radius) !important;
    padding: 5px 20px;
    font-size: var(--font-sm) !important;
    text-align: center;
}

.status-success {
    color: var(--color-green) !important;
    background: var(--color-green-light) !important;
    border-radius: var(--border-radius) !important;
    padding: 5px 20px;
    font-size: var(--font-sm) !important;
    text-align: center;
}
.status-success * {
    font-size: var(--font-sm) !important;
}

.form-flex {
    display: flex;
    gap: 40px;
}

.flex-wrap {
    flex-wrap: wrap;
}

.form-flex .form-div-10 {
    width: 10%;
}
.form-flex .form-div-15 {
    width: 15%
}
.form-flex .form-div-20 {
    width: 20%
}
.form-flex .form-div-25 {
    width: 25%;
}
.form-flex .form-div-40 {
    width: 40%;
}
.form-flex .form-div-50 {
    width: 50%;
}
.form-flex .form-div-60 {
    width: 60%;
}
.form-flex .form-div-75 {
    width: 75%;
}
.form-flex .form-div-80 {
    width: 80%;
}
.form-flex .form-div-100 {
    width: 100%;
}

.custom-loader {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}

.custom-loader i {
    transform: scale(var(--ggs,2)) !important;
}

.jq-toast-wrap {
    width: auto !important;
}

.jq-toast-wrap * {
    color: var(--color-white) !important;
}

.jq-toast-single {
    display: flex;
    flex-direction: column !important;
    padding: 20px !important;
}

.jq-toast-wrap h2 {
    font-size: var(--font-3xl) !important;
}

.select2-selection.select2-selection--multiple {
    display: flex !important;
    width: 100% !important;
    border-radius: var(--border-radius) !important;
    margin-bottom: 20px !important;
    border: 2px solid var(--color-light-gray) !important;
    box-shadow: none !important;
    font-size: var(--font-sm) !important;
    min-height: 40px !important;
    width: 100% !important;
}
.select2-selection.select2-selection--multiple textarea {
    padding: 0 10px !important;
    margin: 0 !important;
    display: none !important;
}
.select2-selection.select2-selection--multiple ul {
    margin-bottom: 0 !important;
}
.select2-selection.select2-selection--multiple .select2-selection__choice__display,
.select2-results__option.select2-results__option--selectable {
    font-size: var(--font-sm) !important;
}
.select2-selection.select2-selection--multiple .select2-selection__choice {
    margin-right: 5px !important;
    background-color: var(--color-gray) !important;
}

.jquery-modal .modal {
    min-width: 80vw;
    min-height: 80vh;
    border-radius: var(--border-radius) !important;
}